In [1]:
#Soal 1

tA = (90,90,90,90)
x = tA[0]

for i in tA:
    if i != x:
        print(False)
        break
else:
    print(True)

True

In [2]:
#Soal 2

data = ('Ivan Roberto Halim', '71230986', 'Kasihan, Bantul, DI Yogyakarta')

print(f'Data: {data}\n')
print(f'NIM\t: {data[1]}')
print(f'NAMA\t: {data[0]}')
print(f'ALAMAT\t: {data[2]}\n')

print(f'NIM: {tuple(data[1])}')
print(f'NAMA DEPAN: {tuple(data[0][:4])}')
print(f'NAMA TERBALIK: {tuple(data[0].split()[::-1])}')

Data: ('Ivan Roberto Halim', '71230986', 'Kasihan, Bantul, DI Yogyakarta')

NIM	: 71230986
NAMA	: Ivan Roberto Halim
ALAMAT	: Kasihan, Bantul, DI Yogyakarta

NIM: ('7', '1', '2', '3', '0', '9', '8', '6')
NAMA DEPAN: ('I', 'v', 'a', 'n')
NAMA TERBALIK: ('Halim', 'Roberto', 'Ivan')